/* footer {
  position: absolute;
  bottom: 0;
  width: 100%;
} */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Myriad Bold";
  src: url("./Myriad\ Bold.otf");
  font-weight: bold;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* min-height: 100vh; */
}

button.ui.button.primary {
  background-color: var(--main-blue-dark);
}

header,footer {
  flex-shrink: 0;
  flex-grow: 0;
}