body {
    background-color: rgb(33, 47, 60)!important;
    height: 80%;
}

.header {}

.main_wrapper {
	display: flex;
  	flex-flow: column;
  	height: 100%;
}

.footer {
    margin-top: 100px;
}

.content-container {
    max-height: 800px;
}

.result-segment {
    height: 95%;
    background: rgba(0,0,0,0)!important;
}

.record-button {
    margin: 3px!important;
    max-width: 200px;
}

.white-text {
    color: white!important;
}

.large-text {
    font-size: large;
}

#file-uploader {
    height: 200px;
    color: lavender;
    border: 5px dashed #cce2ff;
    text-align: center;
}

#file-menu {
    position:relative;
    cursor: pointer!important;
    color: lightblue;
    opacity: 0.0;
    width: 100%;
    height: 100%;
}

#myChart {
    height: 100%;
    width: 100%;
}