body {
    background-image: linear-gradient(206deg, #02747a 10%, #087e8b 30%)!important;
    height: 80%;
}

.header {
    background-image: linear-gradient(206deg, #203246f1 10%, #002438 30%);
    margin-top: 40%;
}

.main_wrapper {
	display: flex;
  	flex-flow: column;
  	height: 100%;
}


.footer {
    margin-top: 60px;
    background-image: linear-gradient(244deg, #ff5a5f 3%, #ac4142 90%);
    height: 14%;
}

#control_btns {
    width: 25%!important;
}

.content-container {
    max-height: 550px;
}

.result-segment {
    height: 90%;
    background: rgba(0,0,0,0)!important;
}

.record-button {
    margin: 3px!important;
    max-width: 200px;
}

.white-text {
    color: white!important;
}

.large-text {
    font-size: large;
}

#file-uploader {
    height: 200px;
    color: lavender;
    border: 5px dashed #cce2ff;
    text-align: center;
}

#file-menu {
    position:relative;
    cursor: pointer!important;
    color: lightblue;
    opacity: 0.0;
    width: 100%;
    height: 100%;
}

#myChart {
    height: 100%;
    width: 100%;
}
